<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.modules.stock.mapper.StockWarehouseMapper">
    <select id="selectPageByQuery" resultType="com.erp.server.modules.stock.entity.StockWarehouse">
        SELECT id,
        name,
        code,
        company_id FROM stock_warehouse
        <where>
            <if test="query.keyword != null and query.keyword != ''">
                AND (name ILIKE CONCAT('%', #{query.keyword}, '%'))
            </if>
        </where>
        ORDER BY id DESC
    </select>
</mapper>
