<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.modules.stock.mapper.StockQuantMapper">
    <select id="selectPageByQuery" resultType="com.erp.server.modules.stock.entity.StockQuant">
        SELECT id,
        name,
        product_id,
        location_id,
        quantity,
        company_id FROM stock_quant
        <where>
            <if test="query.productId != null">
                AND product_id = #{query.productId}
            </if>
            <if test="query.locationId != null">
                AND location_id = #{query.locationId}
            </if>
            <if test="query.keyword != null and query.keyword != ''">
                AND (name ILIKE CONCAT('%', #{query.keyword}, '%'))
            </if>
        </where>
        ORDER BY id DESC
    </select>
</mapper>
