<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.modules.mrp.mapper.MrpProductionMapper">
    <select id="selectPageByQuery" resultType="com.erp.server.modules.mrp.entity.MrpProduction">
        SELECT id,
        name,
        state,
        product_id,
        product_qty,
        qty_produced,
        bom_id,
        finished_location_id,
        origin_ref,
        component_cost,
        finished_cost,
        company_id FROM mrp_production
        <where>
            <if test="query.bomId != null">
                AND bom_id = #{query.bomId}
            </if>
            <if test="query.productId != null">
                AND product_id = #{query.productId}
            </if>
            <if test="query.companyId != null">
                AND company_id = #{query.companyId}
            </if>
            <if test="query.originRef != null and query.originRef != ''">
                AND origin_ref = #{query.originRef}
            </if>
            <if test="query.keyword != null and query.keyword != ''">
                AND (
                    name ILIKE CONCAT('%', #{query.keyword}, '%')
                    OR origin_ref ILIKE CONCAT('%', #{query.keyword}, '%')
                )
            </if>
        </where>
        ORDER BY id DESC
    </select>
</mapper>
