<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.modules.sale.mapper.SaleOrderMapper">
    <resultMap id="SaleOrderResultMap" type="com.erp.server.modules.sale.entity.SaleOrder">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="state" column="state" />
        <result property="dateOrder" column="date_order" />
        <result property="partnerId" column="partner_id" />
        <result property="userId" column="user_id" />
        <result property="companyId" column="company_id" />
        <result property="amountUntaxed" column="amount_untaxed" />
        <result property="amountTax" column="amount_tax" />
        <result property="amountTotal" column="amount_total" />
        <result property="pickingRef" column="picking_ref" />
        <result property="invoiceRef" column="invoice_ref" />
        <result property="note" column="note" />
        <result property="extData" column="ext_data" typeHandler="com.erp.server.common.typehandler.JsonbMapTypeHandler" />
    </resultMap>

    <select id="selectPageByQuery" resultMap="SaleOrderResultMap">
        SELECT id, name, state, date_order, partner_id, user_id, company_id, amount_untaxed, amount_tax, amount_total, picking_ref, invoice_ref, note, ext_data
        FROM sale_order
        <where>
            <if test="query.keyword != null and query.keyword != ''">
                AND (name ILIKE CONCAT('%', #{query.keyword}, '%'))
            </if>
            <if test="query.partnerId != null">
                AND partner_id = #{query.partnerId}
            </if>
            <if test="query.userId != null">
                AND user_id = #{query.userId}
            </if>
            <if test="query.state != null and query.state != ''">
                AND state = #{query.state}
            </if>
            <if test="query.dateOrder != null">
                AND DATE(date_order) = #{query.dateOrder}
            </if>
        </where>
        ORDER BY id DESC
    </select>
</mapper>
