<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.server.modules.base.mapper.HrDepartmentMapper">
    <select id="selectPageByQuery" resultType="com.erp.server.modules.base.entity.HrDepartment">
        SELECT id,
        name,
        parent_id,
        manager_id,
        company_id FROM hr_department
        <where>
            <if test="query.keyword != null and query.keyword != ''">
                AND (name ILIKE CONCAT('%', #{query.keyword}, '%'))
            </if>
        </where>
        ORDER BY id DESC
    </select>
</mapper>
